@import '@styles/mixins.scss';

.ProductsSection__container {
  margin: 0 auto 100px;

  &_header {
    margin: 0 0 40px;
    font-size: clamp-calc(320px, 1460px, 28px, 32px);
    font-weight: 600;
    text-align: center;

    @include mediaquery(xl) {
      text-align: left;
    }
  }

  &__products {
    display: grid;

    @include mediaquery(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mediaquery(lg) {
      grid-template-columns: repeat(4, 1fr);
    }

    gap: 30px;
  }
}