@import '@styles/mixins.scss';

.AuthLoginButton__container {
  position: relative;
  border-radius: var(--border-button-radius);
  transition: background-color .300s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:hover {
    background-color: var(--light-gray);
  }

  &:hover &_dropdown {
    opacity: 1;
    visibility: visible;
  }

  &__menuLink {
    padding: 9px 10px;

    @include mediaquery(lg) {
      padding: 9px 18px;
    }

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--loginButton-color);
  }

  &__menuLink img {
    width: 23px;
    height: 23px;
    object-fit: contain;
  }

  &__menuLink_name {
    display: none;

    @include mediaquery(sm) {
      display: block;
    }
  }

  &_dropdown {
    min-width: 256px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: opacity .300s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 0;
    visibility: hidden;

    &:before {
      content: '';
      padding: 2px;
      display: block;
    }
  }
}