@import "@styles/mixins.scss";

.layout__container {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: var(--max-width-grid);
  padding: 0 var(--mobile-padding);

  @include mediaquery(lg) {
    padding: 0 var(--grid-padding);
  }

  margin: 0 auto;
}