:root {
  --max-width-grid: 1460px;
  --mobile-padding: 15px;
  --grid-padding: 30px;
  --black: #1B1212;
  --black-font: #1B1212;
  --white: #FFFFFF;
  --red: #D03B30;
  --blue: #2B538F;
  --blue-dark: #142642;
  --green: #32902B;
  --green-dark: #174214;
  --gray: rgb(21, 41, 43, .5);
  --light-gray: #F9F9F9;
  --shadow-light-gray: rgb(21, 41, 43, .10);
  --shadow-dark-gray: rgb(21, 41, 43, .25);
  --yellow: #FDDD9B;
  --yellow-dark: #B0996B;
  --loginButton-color: #1B1212;
  --primaryButton-background: #FDDD9B;
  --primaryButton-color: #1B1212;
  --border-color: #E8E8E8;
  --border-button-radius: 10px;
  --border-radius: 10px;
  --border-radius-15: 15px;
  --border-radius-20: 20px;
  --error-background: #D03B30;
  --error-border: #D03B30;
  --z-index-menu: 100;
  --z-index-clippy: 200;
  --z-index-modal: 300;
  --z-index-error: 400;
  --cubic-bezier: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}