:root {
  --max-width-grid: 1460px;
  --mobile-padding: 15px;
  --grid-padding: 30px;
  --black: #1B1212;
  --white: #FAF9F6;
  --red: #D03B30;
  --light-gray: rgb(21, 41, 43, .05);
  --shadow-light-gray: rgb(21, 41, 43, .10);
  --orange: #f77429;
  --loginButton-color: #1B1212;
  --primaryButton-background: #f77429;
  --primaryButton-color: #f2f2f2;
  --border-button-radius: 10px;
  --border-radius: 10px;
  --error-background: #D03B30;
  --error-border: #D03B30;
}