.LoginForm__container {
  width: 100%;
  max-width: 460px;
  padding: 25px 30px 30px;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  box-shadow: 0 0 6px var(--shadow-light-gray);
}