.PrimaryButton,
.CTAButton,
.BorderButton,
.InfoButton {
  height: 40px;
  width: 100%;
  padding: 12px 24px;
  background-color: var(--green);
  border: unset;
  border-radius: var(--border-radius);
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  transition: background-color .25s var(--cubic-bezier);

  &:hover {
    background-color: var(--green-dark);
  }
}

.BorderButton {
  background-color: unset;
  border: 1px solid var(--black);
  color: var(--black);

  &:hover {
    background-color: var(--light-gray);
  }
}

.CTAButton {
  width: auto;
  display: inline-flex;
  background-color: var(--yellow);
  border: unset;
  color: var(--black);

  &:hover {
    background-color: var(--yellow-dark);
  }
}

.InfoButton {
  background-color: var(--blue);
  border: unset;
  color: var(--white);

  &:hover {
    background-color: var(--blue-dark);
  }
}