@import '@styles/mixins.scss';

.PrimaryButton {
  height: 40px;
  width: 100%;
  padding: 12px 24px;
  background-color: var(--green);
  border: unset;
  border-radius: var(--border-radius);
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  transition: background-color .25s var(--cubic-bezier);

  &:hover {
    background-color: var(--green-dark);
  }
}

.BorderButton {
  @extend .PrimaryButton;
  background-color: unset;
  border: 1px solid var(--black);
  color: var(--black);

  &:hover {
    background-color: var(--light-gray);
  }
}

.CTAButton {
  @extend .PrimaryButton;
  width: auto;
  display: inline-flex;
  background-color: var(--yellow);
  border: unset;
  color: var(--black);

  &:hover {
    background-color: var(--yellow-dark);
  }
}

.InfoButton {
  @extend .PrimaryButton;
  background-color: var(--blue);
  border: unset;
  color: var(--white);

  &:hover {
    background-color: var(--blue-dark);
  }
}

.ActionButton {
  @extend .PrimaryButton;
  width: auto;
  display: inline-block;
  background-color: var(--yellow);
  border: unset;
  color: var(--black);

  &:hover {
    background-color: var(--yellow-dark);
  }
}

.SubmitButton {
  @extend .PrimaryButton;
  background-color: var(--yellow);
  border: unset;
  color: var(--black);

  &:hover {
    background-color: var(--yellow-dark);
  }
}

.AddToCartButtonProductsSectionItem__container {
  @include flex-row;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding: 10px 0 0;
  margin: 10px auto 0;
  border-top: 1px solid var(--light-gray);

  &__button {
    @include flex-row-center;
    gap: 6px;
    width: 32px;
    height: 32px;
    background-color: var(--white);
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    font-size: 14px;
    cursor: pointer;
    transition: background-color .25s var(--cubic-bezier);

    &_icon {
      width: 18px;
      height: 18px;
    }

    &_icon path {
      fill: var(--green);
      transition: fill .25s var(--cubic-bezier);
    }

    &:hover {
      background-color: var(--green);
    }

    &:hover &_icon path {
      fill: var(--white);
    }

    &:focus {
      background-color: var(--gray);
    }

    &:disabled {
      background-color: var(--gray);
      cursor: not-allowed;
    }

    &:disabled:hover {
      background-color: var(--gray);
    }
  }
}

.spinner__container {
  @include flex-center;

  &__svg {
    width: 16px;
    height: 16px;
    width: 100%;
    height: 100%;
    transform-origin: center;
    animation: spinner_AtaB 1s infinite linear;
    fill: var(--white);
  }
}

@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg)
  }
}