@import '@styles/mixins.scss';

.DropdownCart__container {
  width: calc(100vw - 30px);
  position: absolute;
  left: 15px;
  right: 15px;
  z-index: var(--z-index-menu);

  @include mediaquery(lg) {
    width: 360px;
    right: 0;
    left: unset;
  }

  transition: opacity .300s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0;
  visibility: hidden;

  &:before {
    content: "";
    padding: 2px;
    display: block;
  }

  &_title {
    padding: 16px;
    border-bottom: 1px solid var(--light-gray);
    font-size: 18px;
    font-weight: 600;
  }

  &_title span {
    color: var(--gray);
  }

  &_cart {
    @include flex-column;
    gap: 16px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px var(--shadow-light-gray);
  }

  &_button {
    padding: 16px;
    border-top: 1px solid var(--light-gray);
  }

  &_products {
    @include flex-column;
    gap: 16px;
  }

  &_products_empty {
    padding: 28px 16px;
    @include flex-column;
    gap: 16px;
    text-align: center;
  }

  &_products_empty_text {
    font-size: 16px;
  }

  &_products_wrapper {
    @include flex-column;
    gap: 16px;
  }

  &_products__item {
    @include flex-row;
    gap: 10px;
    padding: 0 16px;
  }

  &_products__item_image {
    width: 72px;
    height: 72px;
    aspect-ratio: 1/1;
  }

  &_products__item_text {
    @include flex-column;
    gap: 10px;
  }
}