.LoginHandleError__container {
  padding: 12px 30px;
  margin: 0 auto 10px;
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 12px;
  color: var(--white);
}