@import '@styles/mixins.scss';

.ProductItem__link {
  display: block;
  max-width: 336.5px;
}

.ProductItem__container {
  @include flex-column-stretch;
  gap: 10px;
  width: calc(100% - 12px);
  height: 100%;
  max-height: calc(310px - 12px);
  padding: 15px;
  margin: 6px;

  @include mediaquery(xl) {
    padding: 25px;
    gap: 25px;
  }

  background-color: var(--light-gray);
  border-radius: var(--border-radius);

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
  }

  &_image {
    width: 100%;
    height: 100%;
    max-width: clamp-calc(768px, 1460px, 100px, 150px);
    margin: 0 auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  &__wrapper_name {
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    font-weight: 600;
    color: var(--black-font);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mediaquery(sm) {
      -webkit-line-clamp: 1;
    }

    @include mediaquery(md) {
      font-size: 16px;
      line-height: 18px;
      height: 36px;
      -webkit-line-clamp: 2;
    }
  }

  &__wrapper {
    @include flex-column;
    gap: 10px;
    width: 100%;
    text-align: center;

    @include mediaquery(xl) {
      gap: 6px;
      text-align: left;
    }
  }

  &__wrapper__information {
    @include mediaquery(xl) {
      @include flex-row-end;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
    }
  }

  &__wrapper__information_price {
    font-size: 14px;
    color: var(--black-font);
  }

  &_AddToCartButton {
    display: none;

    @include mediaquery(xl) {
      display: flex;
    }
  }
}