@import "@styles/mixins.scss";

.RegisterForm__container {
  width: 100%;
  max-width: 540px;
  padding: 30px var(--mobile-padding);

  @include mediaquery(xxs) {
    padding: 30px;
  }

  @include mediaquery(md) {
    padding: 40px 60px 30px 60px;
  }

  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  box-shadow: 0 0 6px var(--shadow-light-gray);
}